@import 'tailwindcss';
@config "../../tailwind.config.js";
@reference "tailwindcss";

@layer base {
  body {
    /* @apply font-sans bg-vanilla text-eerieBlack; */
    font-family: 'Urbanist', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #fbfbfe;
  }
}
